# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.rbuild'
name: 'RBuild'
fileTypes: ['rbuild']
limitLineLength: false

patterns: [
    {
        match: '(path)( |\s)+(.*)'
        captures:
            1: name: 'storage.type.function.rbuild'
            3: name: 'entity.name.function.rbuild'
    }
    {
        match: '(dep)( |\s)+(.*)'
        captures:
            1: name: 'storage.type.function.rbuild'
            3: name: 'variable.parameter.function.rbuild'
    }
    {
        match: '(run)( |\s)+(.*)'
        captures:
            1: name: 'storage.type.function.rbuild'
            3: patterns: [{include: 'source.shell'}]
    }
    {
        match: '(arg)( |\s)+(.*)'
        captures:
            1: name: 'storage.type.function.rbuild'
            3: patterns: [{include: 'source.shell'}]
    }
]
