# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.rbuild'
name: 'RBuild'
fileTypes: ['rbuild']

patterns: [
    {
        match: '#.*$'
        name: 'comment.line.example'
    }
    {
        begin: '(path) (.*)'
        beginCaptures:
            1: name: 'keyword.operator.rbuild'
            2: name: 'entity.name.function.rbuild'
        end: '{'
        name: 'meta.function.rbuild'
        patterns: [
            {
                begin: '\\('
                end: '\\)'
                patterns: [
                    {
                        match: '(.*)'
                        name: 'variable.parameter.rbuild'
                    }
                    {
                        match: ','
                        name: 'punctuation.separator.parameters.rbuild'
                    }
                ]
            }
        ]
    }
    {
        begin: '{'
        end: '}'
        patterns: [{include: 'source.shell'}]
    }
]
